[submodule "packages/astro-terminal-code"]
	path = packages/astro-terminal-code
	url = https://github.com/workspace-framework/terminal-code.git
[submodule "content"]
	path = content
	url = https://github.com/sandikodev/content.git
[submodule "packages/astro-deck"]
	path = packages/astro-deck
	url = https://github.com/sandikodev/astro-deck.git
[submodule "packages/workspace-framework"]
	path = packages/workspace-framework
	url = https://github.com/sandikodev/workspace-framework.git
[submodule "outreach"]
	path = outreach
	url = git@github.com:sandikodev/portfolio.git
