[submodule "packages/astro-terminal-code"]
	path = packages/astro-terminal-code
	url = git@github.com:workspace-framework/terminal-code.git
[submodule "content"]
	path = content
	url = git@github.com:sandikodev/content.git
[submodule "packages/astro-deck"]
	path = packages/astro-deck
	url = git@github.com:sandikodev/astro-deck.git
[submodule "packages/workspace-framework"]
	path = packages/workspace-framework
	url = git@github.com:sandikodev/workspace-framework.git
